<div class="containareon">
<h2>Add a Pokemon to the Collection</h2>
	<form action="/pokemon" method="POST">
		<h3>Name</h3>
		<input type="text" name="name" placeholder="Pokemon Name" required>
	
		<p>Type</p>
		<input type="text" name="poke_type" placeholder="Pokemon Type(s)" required>
	
		<p>Combat Power</p>
		<input type="number" name="cp" placeholder="Combat Power" required>
		<p>Cool Picture</p>
		<input type="text" name="img" placeholder="image url" required><br>
		<input class="bnt" type="submit" name="sumbit">
	</form>
</div>