<div>
<h1>Add a Pokemon to the Collection</h1>
	<form action="/pokemon" method="POST">
		<h2>Name</h2>
		<input type="text" name="name" placeholder="Pokemon Name" required>
	
		<p>Type</p>
		<input type="text" name="poke_type" placeholder="Pokemon Type(s)" required>
	
		<p>Combat Power</p>
		<input type="number" name="cp" placeholder="Combat Power" required>
		<p>Cool Picture</p>
		<input type="text" name="img" placeholder="image url" required><br>
		<input type="submit" name="sumbit">
	</form>
</div>