<div class="containareon">
<a href="/pokemon/new">Add a Pokemon to the Collection</a>
</div>
<% @the_list.each do |mons|%>
<div class="containareon">
	<p><a href="/pokemon/<%=mons.id%>"><%=mons.name%></a></p>

	<img class="pokemon" src="<%=mons.img_url%>">
</div>
<%end%>
