<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Collection</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="<%= url('/css/pokestyle.css') %>">
</head>
<body>

	<h1>Poke-natra</h1>

	<h2><a href="/pokemon"> All Pokemon </a></h2>
	<h2><a href="/trainers">View Trainers</a></h2>

<%=yield%>
	
</body>
</html>