<div class="containareon">
	<form action="/trainers" method="POST">
		<p>Trainer Name:</p>
		<input type="text" name="name">
		<p>Trainer Level</p>
		<input type="number" name="level">
		<p>Link to Picture</p>
		<input type="text" name="pro_pic">
		<input type="submit" name="submit">
	</form>
</div>